{% extends "base.html" %}
{% block content %}

<div class="container">
    <div id="card-box" class="cards-box">
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static', filename='images/card/'+'phone_number.png')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">전화번호</h5>
                <p class="card-text">운영중인 인터넷전화번호와 지능망전화번호를 확인 할 수 있습니다.</p>
                <a href="{{url_for('numbers.find')}}" class="btn btn-primary">이동</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static', filename='images/card/'+'physical_server.png')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">물리서버</h5>
                <p class="card-text">운영중인 물리서버 정보를 확인 할 수 있습니다.</p>
                <a href="{{url_for('pservers.find')}}" class="btn btn-primary">이동</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static', filename='images/card/'+'virtual_server.png')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">가상머신</h5>
                <p class="card-text">운영중인 가상머신 정보를 확인 할 수 있습니다.</p>
                <a href="{{url_for('vservers.find')}}" class="btn btn-primary">이동</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static', filename='images/card/'+'customer.png')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">고객사</h5>
                <p class="card-text">운영중인 고객사 정보를 확인 할 수 있습니다.</p>
                <a href="{{url_for('customers.find')}}" class="btn btn-primary">이동</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}